<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>Arvo</title>
    <link rel="shortcut icon" href="assets/images/favicon.png">
  
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/feather-icons/feather.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">


    <!-- JS -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</head>
<body>
<div class="app app-login">
    <div class="row h-100 overflow-hidden m-0">
        <div class="col-md-auto px-5 py-4 p-md-5">
            <a href="#" class="logo"><img src="assets/images/logo.svg" alt=""></a>
        </div>
        <div class="col-md-4 align-self-end p-5 ml-md-auto">
            <form class="form mb-md-5" action="dashboard.html">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group row">
                    <div class="col">
                        <div class="form-check font-weight-normal">
                            <input class="form-check-input" type="checkbox" value="" id="remember-me">
                            <label class="form-check-label" for="remember-me">
                                Ingat saya
                            </label>
                        </div>
                    </div>
                    <div class="col-auto font-weight-normal">
                        <a href="#" class="text-dark">Lupa Password <img src="assets/images/icon/ic-lupa-password.svg" alt="" class="ml-2"></a>
                    </div>
                </div>
                <div class="form-group row mx-n2">
                    <div class="col px-2">
                        <button class="btn btn-accent btn-block rounded-pill py-2" type="submit">Login</button>
                    </div>
                    <div class="col px-2">
                        <button class="btn btn-second btn-block rounded-pill py-2">Daftar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
</body>
</html>